:root {
    --header-bg: #ffffff;
    --header-color: #333;
}
  
.dark {
    --header-bg: #000000;
    --header-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  padding: 5px 0;
  flex-shrink: 0; /* Ensures header doesn't shrink */
}
  
  .logo {
    display: flex;
    margin-left: 10px;
    align-items: center;
  }
  
  .logo h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: var(--header-color);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .header-controls {
    margin-right: 12px;
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #555;
  }